.icons {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  
  margin: 10px 50px 10px 10px;
  padding: 20px;

  border-radius: 10px;
  color: #a23334;
}

.profile__icon {
  margin-top: 3px;
  margin-left: 30px;
  font-size: 40px;
  transition: 0.5s;
}

.profile__icon:hover {
  opacity: 80%;
  cursor: pointer;
}
